{{ define "meta" }}
  {{ $url := urls.Parse .Page.Permalink }}		
  <meta name=go-import content="{{ $url.Host }}{{ $url.Path }} git {{ .Params.repo }}.git">
{{ end }}

{{ define "main" }}
<a href="{{ .Params.repo }}">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<div id="main">
  <!-- Introduction -->
  <section class="main">
    <div class="spotlight">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
</div>
{{ end }}