@import 'theme';

@import 'libs/breakpoints';
@import 'libs/triangle';

@include breakpoints((
    // xlarge:   '(min-width: 1281px)',
    // large:    ( 981px,   1280px ),
    // medium:   ( 737px,   980px  ),
    // small:    ( 481px,   736px  ),
    // xsmall:   ( 361px,   480px  ),
    // xxsmall:  ( null,    360px  ),

    large:    '(min-width: 52em)',
    medium:   ( 40em, 52em ),
    small:    ( null, 40em ),
));

@import 'components/background';
@import 'components/tooltip';
@import 'components/section';
@import 'components/404';

body, html {
    padding: 0;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

footer {
    padding: 1em;
    min-height: 100px;
    background: $primaryDark;
}


[onhover]:hover {
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        content: attr(onhover);
    }
}

