@import 'theme';

@import 'libs/breakpoints';
@import 'libs/triangle';

@include breakpoints((
    xlarge:   '(min-width: 1281px)',
    large:    ( 981px,   1280px ),
    medium:   ( 737px,   980px  ),
    small:    ( 481px,   736px  ),
    xsmall:   ( 361px,   480px  ),
    xxsmall:  ( null,    360px  ),
));

@import 'components/background';
@import 'components/section';
@import 'components/404';

body, html {
    padding: 0;
    margin: 0;

    font-family: Cabin;
}

* {
    box-sizing: border-box;
}

footer {
    padding: 1em;
    min-height: 100px;
    background: $primaryDark;
}