
// Home
#home .background {
    :nth-child(1) {
        @include triangle($backgroundDark, (35vh, 70vh), (95vw, 60vw));
        @include dark {
            border-top-color: $backgroundLight;
        }
    }
    :nth-child(2) {
        @include triangle($secondary,(38vh, 80vh),(50vw, 35vw))
    }
    :nth-child(3) {
        @include triangle($primaryDark, (25vh, 35vh), (75vw, 60vw), true);
        @include dark {
            border-top-color: $primary;
        }
    }
    :nth-child(4) {
        @include triangle($backgroundDark, (20vh, 20vh), (100vw, 100vw), true, true);
        @include dark {
            border-bottom-color: $backgroundLight;
        }
    }
}

// About
#about .background {
    :nth-child(1) {
        @include triangle($secondaryLight, (50vh, 20vh), (50vw, 50vw), false, true)
    }
    :nth-child(2) {
        @include triangle($primaryDark, (20vh, 40vh), (75vw, 70vw), true)
    }
    :nth-child(3) {
        @include triangle($backgroundDark, (25vh, 20vh), (100vw, 100vw));
        @include dark {
            border-top-color: $backgroundLight;
        }
    }
}




// Projects
#projects .background {
    :nth-child(1) {
        @include triangle($secondaryLight, (80vh, 80vh), (100vw, 100vw), true);
    }
    :nth-child(2) {
        @include triangle($background, (50vh, 20vh), (50vw, 50vw), true);
        @include dark {
            border-top-color: $darkBackground;
        }
    }
    :nth-child(3) {
        @include triangle($primaryDark, (25vh, 40vh), (75vw, 60vw), true, true);
    }
    :nth-child(4) {
        @include triangle($backgroundDark, (25vh, 20vh), (100vw, 100vw), false, true);
        @include dark {
            border-bottom-color: $backgroundLight;
        }
    }
}


// Writing
#contact-me .background {
    :nth-child(1) {
        @include triangle($backgroundDark, (15vh, 10vh), (100vw, 100vw), true);
        @include dark {
            border-top-color: $backgroundLight;
        }
    }
    :nth-child(2) {
        @include triangle($secondary, (50vh, 40vh), (70vw, 40vw), false, true);
    }
    :nth-child(3) {
        @include triangle($primaryDark, (40vh, 15vh), (100vw, 100vw), true, true);
    }
}

#p-404 .background {
    :nth-child(1) {
        @include triangle($backgroundDark, (35vh, 80vh), (95vw, 60vw));
        @include dark {
            border-top-color: $backgroundLight;
        }
    }
    :nth-child(2) {
        @include triangle($primary, (25vh, 35vh), (75vw, 60vw), true);
    }
    :nth-child(3) {
        @include triangle($secondaryLight, (10vh, 20vh), (50vw, 50vw), true, true);
    }
}


#contract .background {
  :nth-child(1) {
    @include triangle($backgroundDark, (35vh, 35vh), (95vw, 95vw));
    @include dark {
        border-top-color: $backgroundLight;
    }
  }
  :nth-child(2) {
      @include triangle($secondary,(38vh, 38vh),(50vw, 50vw))
  }
  :nth-child(3) {
      @include triangle($primaryDark, (25vh, 25vh), (75vw, 75vw), true);
      @include dark {
          border-top-color: $primary;
      }
  }
  :nth-child(4) {
      @include triangle($backgroundDark, (40vh, 40vh), (65vw, 65vw), true, true);
      @include dark {
          border-bottom-color: $backgroundLight;
      }
  }
  :nth-child(5) {
    @include triangle($secondary, (15vh, 15vh), (75vw, 75vw), false, true);
  }
  :nth-child(6) {
    @include triangle($primaryDark, (20vh, 20vh), (80vw, 80vw), true, true);
    @include dark {
      border-top-color: $primary;
  }
  }
  // :nth-child(1) {
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   z-index: -2;
  //   border-top: 35vh solid #f0e6f6;
  //   border-right: 95vw solid transparent;
  // }

  // :nth-child(2) {
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   z-index: -2;
  //   border-top: 38vh solid #ff4081;
  //   border-right: 50vw solid transparent;
  // }
  
  // :nth-child(3) {
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   z-index: -2;
  //   border-top: 25vh solid #4b007d;
  //   right: 0;
  //   border-left: 75vw solid transparent;
  // }
  
  // :nth-child(4) {
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   z-index: -2;
  //   bottom: 0;
  //   border-bottom: 40vh solid #f0e6f6;
  //   right: 0;
  //   border-left: 65vw solid transparent;
  // }
  // :nth-child(5) {
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   z-index: -2;
  //   bottom: 0;
  //   border-bottom: 15vh solid #ff4081;
  //   border-right: 70vw solid transparent;
  // }

  // :nth-child(6) {
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   z-index: -2;
  //   bottom: 0;
  //   border-bottom: 20vh solid #4b007d;
  //   right: 0;
  //   border-left: 80vw solid transparent;
  // }

}
