
.section {
    position: relative;
    min-height: 100vh;

    

    .section-container {
        display: flex;
        margin: auto;
        min-height: 100vh;
        min-width: 320px;
        max-width: 1366px;

        flex-direction: column;
        justify-content: center;
        padding: 5em 1em;

        &.constrained {
            max-width: 600px;
        }
    }

    &#home {
        color: $primary;
        text-align: center;
        
        h1 {
            @include scaled(font-size, 5, 6, 8);
            @include scaled(margin-bottom, 3, 4, 5);
        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                position: relative;
                text-emphasis: none;
                text-decoration: none;
                margin-left: 16px;
                margin-right: 16px;

                display: flex;
                justify-content: center;
            }
            a::before {
                background: #2d2d2d;
                color: white;
                padding: .5em;
                width: max-content;
                opacity: 0;
                content: attr(title);
                position: absolute;
                bottom: -2em;
                border-radius: 3px 3px 10px 10px;
                z-index: -1;

                transition: all;
                transition-duration: 100ms;
            }
            a:hover::before {
                opacity: 1;    
                bottom: -3em;
                border-radius: 3px;
            }

            
            svg {
                @include scaled((width, height), 5, 6, 6);
                fill: $primary;
            }
        }
    }
}
