
[tooltip] {
    position: relative;
    display: flex;
    justify-content: center;
}

[tooltip]::after {
    background: #2d2d2d;
    color: white;
    padding: .5em;
    width: max-content;
    opacity: 0;
    content: attr(tooltip);
    position: absolute;
    bottom: -2em;
    border-radius: 3px 3px 10px 10px;
    z-index: -1;

    transition: all;
    transition-duration: 100ms;
}
[tooltip]:hover::after {
    opacity: 1;    
    bottom: -3em;
    border-radius: 3px;
}