<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TTP Development</title>
    {{ block "meta" . }} {{ end }}
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:700"
      rel="stylesheet"
    />
    <noscript><link rel="stylesheet" href="/css/noscript.css"/></noscript>
  </head>
  <body class="is-preload platform-macos">
    <div id="wrapper">
      
      {{ if .Page.IsHome }}
      <header id="header" class="alt">
        <h1>TTP<br>Development</h1>
      {{ else }}
      <header id="header" class="alt-two">
        <h1>{{ .Page.Title }}</h1>
        <h1>TTP<br>Development</h1>
      {{ end }}
      </header>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#projects">Projects</a></li>
        </ul>
      </nav>
      {{ block "main" . }} {{ end }}
      <footer id="footer">
        <p class="copyright">
          &copy; ttp.sh. Design: <a href="https://html5up.net">HTML5 UP</a>.
        </p>
      </footer>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
    <script>
    function platform(newPlatform) {
      platforms = ['macos', 'windows', 'linux'];
      window.localStorage.platform = newPlatform || platforms[0];
      for (var i = 0, platform; platform = platforms[i]; i++) {
        document.body.classList.remove('platform-' + platform);
      }
      document.body.classList.add('platform-' + window.localStorage.platform);
    }
    platform(window.localStorage.platform);
    </script>
  </body>
</html>
