<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      TTP Web Development
    </title>
    {{ block "meta" . }} {{ end }}
  <link href="/css/style.2f7af3c90a6eaf5704aa.css" rel="stylesheet"></head>
  <body>
    {{ block "main" . }} {{ end }}
    <div class="bg-red-gradient p-4 absolute pin-b pin-x">
      <div class="w-1/2 mx-auto">© 2018 ttp.sh All Rights Reserved</div>
    </div>
  <script type="text/javascript" src="/js/main.2f7af3c90a6eaf5704aa.js"></script></body>
</html>