<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TTP Development</title>
    {{ block "meta" . }} {{ end }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Fingerprint "sha512" }}
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    <link rel="stylesheet" integrity="{{ $style.Data.Integrity }}" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ $noscript := resources.Get "sass/noscript.scss" | resources.ToCSS | resources.Fingerprint "sha512" }}
    <noscript><link rel="stylesheet" integrity="{{ $noscript.Data.Integrity }}" href="{{ $noscript.RelPermalink }}"></noscript>
  </head>
  <body class="is-preload platform-macos">
    <div id="wrapper">
      {{ if .Page.IsHome }}
      <header id="header" class="alt">
        <h1>{{ .Site.Title }}</h1>
      {{ else }}
      <header id="header" class="alt-two">
        <h1>{{ .Page.Title }}</h1>
        <h1>{{ .Site.Title }}</h1>
      {{ end }}
      </header>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#projects">Projects</a></li>
        </ul>
      </nav>
      {{ block "main" . }} {{ end }}
      <footer id="footer">
        <p class="copyright">
          &copy; ttp.sh. Design: <a href="https://html5up.net">HTML5 UP</a>.
        </p>
      </footer>
    </div>

    {{ $jquery := resources.Get "js/jquery.min.js" }}
    {{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
    {{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
    {{ $browser := resources.Get "js/browser.min.js" }}
    {{ $breakpoints := resources.Get "js/breakpoints.min.js" }}

    {{ $plugins := slice $jquery $scrollex $scrolly $browser $breakpoints | resources.Concat "js/plugins.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $plugins.Permalink }}" integrity="{{ $plugins.Data.Integrity }}"></script>
    
    {{ $util := resources.Get "js/util.js" }}
    {{ $main := resources.Get "js/main.js" }}
    {{ $scripts := slice $util $main | resources.Concat "js/main.js" | resources.Minify | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}"></script>
  </body>
</html>
