<div class="section" id="projects">
  {{ partial "background" 4 }}
  <div class="section-container">
    <h2>Projects {{ ":computer:" | emojify }}</h2>
    <div class="cards">
    {{ range . }}
      {{ if .Params.link }} 
      <a target="_blank" href="{{ .Params.link }}" class="card observe">
      {{ else }}
      <a class="card observe">
      {{ end }}
        <div class="card-content">
            <h3>{{ .Title }}</h3>
            {{ .Content }}
        </div>
        <div class="card-image">
            <!-- hero image -->
            {{ $original := .Resources.GetMatch "logo.*" }}
            <img src="{{ ($original.Fill "200x200").RelPermalink }}" alt="{{ .Title }}" />
        </div>
      </a>
    {{ end }}
    </div>
  </div>
</div>
