<div class="section" id="projects">
  {{ partial "background" 4 }}
  <div class="section-container">
    <h2>Projects {{ ":computer:" | emojify }}</h2>
    <div class="cards">
    {{ range . }}
      <div class="card observe">
        {{ if .Params.link }} 
        <a
          {{ $external := .Params.external | default true }}
          {{ if $external }}
          target="_blank"
          {{ end }}
          href="{{ .Params.link }}"
        >
        {{ else }}
        <a>
        {{ end }}
          <div class="card-content">
              <h3>{{ .Title }}</h3>
              {{ .Content }}
          </div>
          {{ $original := .Resources.GetMatch "logo.*" }}
          {{ with $original }}
          <div class="card-image">
              <!-- hero image -->
              
              <img src="{{ (.Fill "200x200").RelPermalink }}" alt="{{ .Title }}" />
          </div>
          {{ end }}
        </a>

        {{ if .Params.github }}
        <a href="{{ relURL .Params.github }}" target="_blank" class="github" tooltip="Github">
          {{- $icon := resources.Get "fontawesome/brands/github.svg" -}}
          <i class="i-icon">{{ $icon.Content | safeHTML }}</i>
        </a>
        {{ end }}
      </div>
    {{ end }}
    </div>
  </div>
</div>
