{{ define "main" }}
    <div class="section" id="home">
        {{ partial "background" 4 }}
        <div class="section-container">
            <h1>{{ .Title }}</h1>
            <div class="social">
                {{ range $social := .Params.social }}
                    <a href="{{ $social.link }}" tooltip="{{ $social.title }}">
                        {{ partial "fa" $social }}
                    </a>
                {{ end }}
            </div>

            <div class="scroll">
                <a href="#about">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130">
                        <g fill=none>
                            <rect stroke="#7c37ad" stroke-width="3" width="70" height="118" x="1.5" y="1.5" rx="36"></rect>
                            <circle cx="36.5" cy="31.5" r="4.5" class="scroll_wheel"></circle>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="section" id="about">
        {{ partial "background" 3 }}
        <div class="section-container">
            <h2>About me {{ ":man:" | emojify }}</h2>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
    {{ partial "projects" (where .Data.Pages "Section" "projects") }}
    {{ partial "contact" }}
    <footer>
        
    </footer>
{{ end }}