{{ define "main" }}

<div class="main">
  <section id="projects" class="content">
    <p>Hey, I'm Thomas, I build website and tools</p>


    {{/* <ul class="statistics">
      {{ $projects := where .Data.Pages "Section" "project" }}
      {{ range $index, $elm := first 5 $projects }}
      <li class="style{{ $index }}">
        <a href="{{ $elm.RelPermalink }}">
          <strong>{{ $elm.Title }}</strong> {{ $elm.Data.Subtitle }}
        </a>
      </li>
      {{ end }}
      <li class="style6">
        <a href="/project">
          <strong>View All</strong>
        </a>
      </li>
    </ul> */}}
  </section>
</div>

<div class="w-1/2 m-auto py-4">
    {{ .Content }}
</div>


{{ end }}