{{ define "main" }}

<div id="main">
  <section id="projects" class="main special">
    <header class="major">
      <h2>Projects</h2>
      <p>Various projects and sites I've worked on</p>
    </header>
    <ul class="statistics">
      {{ range $index, $elm := first 6 .Data.Pages }}
      
      <li class="style{{ $index }}">
        <a href="{{ $elm.RelPermalink }}">
          <span class="icon fa-code-fork"></span>
          <strong>{{ $elm.Title }}</strong> {{ $elm.Data.Subtitle }}
        </a>
      </li>
      
      {{ end }}
    </ul>
    <p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
    <footer class="major">
      <ul class="actions special">
        <li><a href="generic.html" class="button">Learn More</a></li>
      </ul>
    </footer>
  </section>
</div>

<div class="w-1/2 m-auto py-4">
    {{ .Content }}
</div>

{{ end }}