
<!DOCTYPE html>
<html>
  <head>    
    {{- $url := urls.Parse .Page.Permalink }}		
    <meta name="go-import" content="{{ $url.Host }}{{ $url.Path }} git {{ .Params.repo }}">
    <meta name="go-source" content="{{ $url.Host }}{{ $url.Path }} {{ .Params.repo }} {{ .Params.repo }}/tree/master{/dir} {{ .Params.repo }}/tree/master{/dir}/{file}#L{line}">
    <meta http-equiv="refresh" content="0; url=https://godoc.org/{{ .Params.repo }}">
  </head>
  <body>
    Nothing to see here; <a href="https://godoc.org/{{ .Params.repo }}">see the package on godoc</a>.
  </body>
</html>
