<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      TTP Web Development
    </title>
    {{ block "meta" . }} {{ end }}
  </head>
  <body>
    {{ block "main" . }} {{ end }}
    <div class="bg-red-gradient p-4 absolute pin-b pin-x">
      <div class="w-1/2 mx-auto">© 2018 ttp.sh All Rights Reserved</div>
    </div>
  </body>
</html>