<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      TTP Web Development
    </title>
  </head>
  <body>
    {{ block "main" . }} {{ end }}
    <div class="bg-black text-white p-4 static pin-b">
      <div class="w-1/2 mx-auto">© 2018 ttp.sh All Rights Reserved</div>
    </div>
  </body>
</html>