<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="wrapper">
    <div class="clip-text clip-text_one">
      <div>TTP</div>
      <div>Web</div>
      <div>Dev</div>
    </div>
  </div>
  <div class="wrapper">
    <h1>
      Profesional web development
    </h1>
  </div>
</body>

</html>