/* 
  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:700");
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500');

* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background: url("./resources/crossword.png");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  @apply no-underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.highlight {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.highlight pre {
  padding: 1rem;
}

.highlight pre > code {
  @apply w-1/2 m-auto block;
}

.content > * {
  @apply my-2; 
}

.btn {
  @apply bg-transparent text-red font-semibold py-2 px-4 border border-red rounded;
}

.btn:hover {
  @apply bg-red text-white border-transparent;
}

.btn-active {
  @apply bg-red text-white border-transparent;
}

.platform-macos .platform-btn-macos,
.platform-linux .platform-btn-linux,
.platform-windows .platform-btn-windows,
.btn.active {
  @apply btn-active;
}

body .platform-macos,
body .platform-linux,
body .platform-windows {
  display: none;
}

body.platform-macos .platform-macos,
body.platform-linux .platform-linux,
body.platform-windows .platform-windows {
  display: block;
}


.title {
  font-family: "Nanum Gothic Coding", monospace;
  text-align: center;
  letter-spacing: 1rem;
  text-rendering: geometricPrecision;
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em 0.75em;
  text-align: center;
}

/* Clip text element */
.clip-text {
  /* Color fallback */
  color: #663399;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;

  /* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
  background-image: url("./resources/bg1.jpg");
}

.title-smaller {
  font-size: 4em;
}


.clip-text_two {
  background: white;
}

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
