<div class="js-install">
  <div class='flex items-center justify-between flex-wrap'>
    <h1 id="install">Install</h1>
    <ul class="list-reset flex">
      <li class="mr-3">
        <a class="platform-btn platform-btn-macos" href="javascript:platform('macos')">macOS</a>
      </li>
      <li class="mr-3">
        <a class="platform-btn platform-btn-linux" href="javascript:platform('linux')">Linux</a>
      </li>
      <li>
        <a class="platform-btn platform-btn-windows" href="javascript:platform('windows')">Windows</a>
      </li>
    </ul>
  </div>
  <div class="highlight platform-macos">
    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ brew install thattomperson/tap/remote</code></pre>
  </div>

  <div class="highlight platform-linux">
    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ curl -L ttp.sh/remote/install | bash</code></pre>
  </div>

  <div class="highlight platform-windows">
    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ curl -L ttp.sh/remote/install | bash</code></pre>
  </div>
</div>