
{{ $name := .Get 0 }}
{{ $path := printf "%s/%s" $name "install" }}
{{ $script := resources.Get "scripts/install" | resources.ExecuteAsTemplate $path . }}
<!--more-->
<div style="position: relative;">
  <h2>Install</h2>
  <ul style="display: inline-block; position: absolute; top: 6px; right: 0; margin: 0;">
    <li class="special"  style="display: inline-block;">
      <a class="btn" href="javascript:platform('mac')">macOS</a>
    </li>
    <li style="display: inline-block;">
      <a class="btn" href="javascript:platform('linux')">Linux</a>
    </li>
    <li style="display: inline-block;">
      <a class="btn" href="javascript:platform('win')">Windows</a>
    </li>
  </ul>
  
  
  <div platform="mac">
    <p>macOS users can install <strong>{{ $name }}</strong> using <a href="https://brew.sh/">Homebrew</a></p>
    <pre><code class="language-bash" data-lang="bash">brew install thattomperson/tap/{{ $name }}</code></pre>
  </div>
  <div platform="linux">
    <p>Linux users can use the following command in a terminal to install <strong>{{ $name }}</strong></p>
    <pre><code class="language-bash" data-lang="bash">curl -L {{ $script.Permalink }} | bash -s -- -b /usr/local/bin</code></pre>
  </div>
  <div platform="win">
    <p> Windows users can download a .exe from the <b>Releases</b> button below 
  <nav class="nav">
    <ul>
      <li><a href="{{ .Page.Params.repo }}/releases/latest" class="button">Releases</a></li>
      <li><a href="{{ .Page.Params.repo }}" class="button">Learn More</a></li>
    </ul>
  </nav>
  
</div>