
{{ $name := .Get 0 }}
{{ $path := printf "%s/%s" $name "install" }}
{{ $script := resources.Get "install" | resources.ExecuteAsTemplate $path . }}
<div>
  <header id="install" class="minor">
    <h2 style="display:inline-block;">Install</h2>

    <ul class="actions" style="display: inline-block; float: right;">
      <li class="special"  style="display: inline-block;">
        <a class="btn" href="javascript:platform('macos')">macOS</a>
      </li>
      <li style="display: inline-block;">
        <a class="btn" href="javascript:platform('linux')">Linux</a>
      </li>
      <li style="display: inline-block;">
        <a class="btn" href="javascript:platform('windows')">Windows</a>
      </li>
    </ul>
  </header>
  
  <div class="platform-macos">
    <p>macOS users can install <strong>{{ $name }}</strong> using <a href="https://brew.sh/">Homebrew</a></p>
    <pre><code class="language-bash" data-lang="bash">brew install thattomperson/tap/{{ $name }}</code></pre>
  </div>
  <div class="platform-linux">
    <p>Linux users can use the following command in a terminal to install <strong>{{ $name }}</strong></p>
    <pre><code class="language-bash" data-lang="bash">curl -L {{ $script.Permalink }} | bash -s -- -b /usr/local/bin</code></pre>
  </div>
  <ul class="actions">
    <li class="platform-windows"><a href="{{ .Page.Params.repo }}/releases/latest" class="button">Windows Download</a></li>
    <li class="platform-macos platform-linux"><a href="{{ .Page.Params.repo }}/releases/latest" class="button">Releases</a></li>
    <li><a href="{{ .Page.Params.repo }}" class="button">Learn More</a></li>
  </ul>
  
</div>